.importante {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

button {
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    width: 100%;
  }